@import "tailwindcss";
@plugin "daisyui" {
  themes: vscode --default;
}


@plugin "daisyui/theme" {
  name: "vscode";
  default: true;
  --color-base-100: var(--vscode-editor-background);
  --color-base-200: var(--vscode-sideBar-background);
  --color-base-300: var(--vscode-editorWidget-background);
  --color-base-content: var(--vscode-editor-foreground);
  --color-primary: var(--vscode-button-background);
  --color-primary-content: var(--vscode-button-foreground);
  --color-secondary: var(--vscode-button-secondaryBackground);
  --color-secondary-content: var(--vscode-button-secondaryForeground);
  --color-accent: var(--vscode-textLink-foreground);
  --color-accent-content: var(--vscode-editor-background);
  --color-neutral: var(--vscode-badge-background);
  --color-neutral-content: var(--vscode-badge-foreground);
  --color-info: var(--vscode-editorInfo-foreground);
  --color-info-content: var(--vscode-editor-background);
  --color-success: var(--vscode-charts-green);
  --color-success-content: var(--vscode-editor-background);
  --color-warning: var(--vscode-editorWarning-foreground);
  --color-warning-content: var(--vscode-editor-background);
  --color-error: var(--vscode-editorError-foreground);
  --color-error-content: var(--vscode-editor-background);
  --radius-selector: var(--vscode-cornerRadius-small, 0.5rem);
  --radius-field: var(--vscode-cornerRadius-xSmall, 0.25rem);
  --radius-box: var(--vscode-cornerRadius-medium, 0.5rem);
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: var(--vscode-strokeThickness, 1px);
  --depth: 1;
  --noise: 0;
}
